@model MVC_App.Models.Employee

<h1>Name:@Model.EmployeeName</h1>
<hr />
<p>Employee ID:@Model.EmployeeId</p>
<p>Employee Email:@Model.EmployeeEmail</p>
<p>Employee Salary:@Model.EmployeeSalary</p>

